2to3==1.0
absl-py==2.1.0
aiodns==3.0.0
aiohttp==3.8.5
aiosignal==1.3.1
alabaster==0.7.12
aniso8601==9.0.1
antlr4-python3-runtime==4.10.1
anyio==3.5.0
appdirs==1.4.4
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asciinema==2.3.0
astroid==2.15.4
asttokens==2.1.0
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.1
Babel==2.11.0
backcall==0.1.0
Beaker==1.12.1
beautifulsoup4==4.12.2
beniget==0.4.1
binwalk==2.3.4
black==22.8.0
bleach==4.0.0
blinker==1.6.2
blivet==3.7.1
blivet-gui==2.4.2
blosc2==2.5.1
Bottleneck==1.3.7
brial==1.0.2
Brlapi==0.8.4
Brotli==1.0.9
BTrees==5.0
cachetools==5.3.0
certifi==2024.2.2
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.1.0
click==8.1.3
cmake==3.28.3
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.0.7
cppy==1.2.1
cryptography==37.0.2
cson==0.8
cssselect==1.1.0
cupshelpers==1.0
cvxopt==1.3.1
cycler==0.11.0
cypari2==2.1.3
cysignals==1.11.2
Cython==0.29.33
dasbus==1.7
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dicttoxml==1.7.16
dill==0.3.6
distlib==0.3.6
distro==1.8.0
dm-tree==0.1.8
dnspython==2.4.2
docutils==0.19
editables==0.5
entrypoints==0.3
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.16.1
fb-re2==1.0.7
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.8.2
Flagmatic==3.0
flasgger==0.9.7.1
Flask==2.3.3
Flask-RESTful==0.3.10
flatbuffers==23.5.26
flit_core==3.8.0
fonttools==4.39.3
fpylll==0.5.9
fqdn==1.5.1
fros==1.1
frozenlist==1.4.0
fs==2.4.16
fsspec==2023.6.0
garmin-fit-sdk==21.101.0
gast==0.5.3
gcsfs==2022.11.0
gmpy2==2.1.5
google-api-core==2.11.1
google-auth==2.22.0
google-auth-oauthlib==0.8.0
google-cloud-core==2.3.3
google-cloud-storage==2.10.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==2.5.0
googleapis-common-protos==1.60.0
gpg==1.17.1
greenlet==3.0.3
grpcio==1.48.4
grpcio-status==1.48.4
h5py==3.10.0
hatchling==1.18.0
html5lib==1.1
humanfriendly==10.0
humanize==3.13.1
idna==3.4
imagesize==1.4.1
importlib-metadata==6.0.0
ipykernel==6.17.1
ipython==8.9.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jdcal==1.4.1
jedi==0.18.2
Jinja2==3.1.2
joblib==1.3.2
jsonpointer==2.0
jsonschema==4.17.3
jupyter-events==0.5.0
jupyter-sphinx==0.4.0
jupyter_client==7.4.9
jupyter_core==5.1.0
jupyter_server==2.1.0
jupyter_server_terminals==0.4.2
jupyterlab-pygments==0.1.2
keras==3.0.4
kiwisolver==1.4.4
langtable==0.0.62
lazy-object-proxy==1.9.0
libclang==16.0.6
libcomps==0.1.18
lit==18.1.0rc4
lrcalc==2.0.0
lxml==4.9.2
Mako==1.2.3
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.8.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mechanize==0.4.8
mercurial==6.3.3
mistune==2.0.4
ml-dtypes==0.2.0
mpmath==1.2.1
msgpack==1.0.8
multidict==6.0.4
munkres==1.1.2
mypy-extensions==1.0.0
namex==0.0.7
nbclassic==0.5.6
nbclient==0.7.2
nbconvert==7.2.5
nbformat==5.7.0
ndindex==1.8
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==2.8.8
nftables==0.1
notebook==6.5.3
notebook_shim==0.2.3
numexpr==2.8.5
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.1
odfpy==1.4.1
olefile==0.46
onnxruntime-gpu==1.15.1
opencv-contrib-python==4.5.5.62
opencv-python==4.8.0.76
opencv-python-headless==4.7.0.72
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==23.0
pandas==1.5.3
pandas-datareader==0.10.0
pandocfilters==1.5.0
pari-jupyter==1.4.2
parso==0.8.3
Paste==3.5.2
pathspec==0.10.3
persistent==5.0
pexpect==4.8.0
pickleshare==0.7.5
pid==2.2.3
Pillow==10.0.0
platformdirs==2.6.0
pluggy==1.0.0
ply==3.11
pplpy==0.8.7
primecountpy==0.1.0
productmd==1.36
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==4.23.4
psutil==5.9.5
psycopg2==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.5
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
pycares==4.3.0
pycodestyle==2.10.0
pycparser==2.20
pycrypto==2.6.1
pycryptosat==0.2.0
pycups==2.0.1
pycurl==7.45.2
pydot==1.4.2
pyenchant==3.2.2
pyglet==1.5.23
Pygments==2.14.0
PyGObject==3.44.1
pygraphviz==1.10
PyJWT==2.6.0
pykickstart==3.47
pylint==2.17.4
PyMySQL==1.0.2
pynvim==0.5.0
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyparted==3.12.0
pyproject_api==1.5.0
PyQt5==5.15.9
PyQt5-sip==12.11.1
pyrsistent==0.19.3
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-json-logger==2.0.4
python-meh==0.51
python-snappy==0.6.1
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
pyudev==0.24.0
pyxdg==0.27
PyYAML==6.0
pyzmq==24.0.1
QtPy==2.3.1
redis==5.0.0
regex==2023.6.3
requests==2.31.0
requests-file==1.5.1
requests-ftp==0.3.1
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpm==4.18.1
rpy2==3.5.10
rq==1.15.1
rsa==4.9
sagetex==3.6.1
scikit-learn==1.4.0
scipy==1.12.0
scour==0.38.2
seaborn==0.13.2
selinux==3.5
Send2Trash==1.8.0
sepolicy==3.5
setools==4.4.2
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
sos==4.5.1
soupsieve==2.4.1
speg==0.3
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.49
stack-data==0.6.2
sympy==1.11.1
systemd-python==235
tables==3.9.2
tabulate==0.9.0
Tempita==0.5.2
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0.post1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
terminado==0.17.1
testpath==0.6.0
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
torch==2.0.0
torchvision==0.17.0
tornado==6.2
tox==4.4.12
tqdm==4.66.1
traitlets==5.9.0
transaction==3.1.0
triton==2.0.0
trove-classifiers==2023.2.20
typed-ast==1.5.5
typing_extensions==4.10.0
tzlocal==4.2
ultralytics==8.1.10
unicodecsv==0.14.1
uri-template==1.2.0
urllib3==1.26.16
virtualenv==20.21.1
WALDO==2.5
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.3.7
widgetsnbextension==4.0.5
wrapt==1.14.1
xarray==2023.7.0
xlrd==2.0.1
XlsxWriter==3.1.2
xlwt==1.3.0
yapf==0.32.0
yarl==1.8.2
zc.lockfile==2.0
ZConfig==3.6.1
zdaemon==4.2.0
ZEO==5.4.0
zipp==3.12.0
ZODB==5.8.1
ZODB3==3.11.0
zodbpickle==3.0.1
zope.interface==5.5.2
zstandard==0.21.0
